# 01. Importing Libraries and Dataframes

In [10]:
# Importing Libraries

import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/zoipisourika/Desktop/Career Foundry/Data Immersion/Achievement 6/Data'

In [4]:
# Importing data set

df = pd.read_csv(os.path.join(path, "Original Data", "boat_data.csv"))

In [16]:
pd.options.display.max_columns = None

In [5]:
df

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

# 02. Data Wrangling

In [6]:
# Checking data types and null rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

No mixed-type data types in the data set.

In [27]:
# Split price column to 'currency', 'Price'
df[['currency', 'Price']] = df['Price'].str.split(' ', 1, expand = True)
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,currency
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR

In [28]:
df['currency'].value_counts()

EUR    8430
CHF     980
Â£      298
DKK     180
Name: currency, dtype: int64

In [30]:
# Convert all prices to EURO to be able to make comparisons (based on current exchange rates)

def eurprice(Price,currency):
    if currency=='EUR':
        return Price
    elif currency=='CHF':
        return int(Price) * 1.01
    elif currency=='DKK':
        return int(Price) * 0.13
    elif currency=='Â£':
        return int(Price) * 1.14
df['EUR_price'] = df.apply(lambda x: eurprice(x.Price, x.currency), axis=1)
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,currency,EUR_price
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3370.37
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3807.7
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.0
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399

In [31]:
#Split Location to 'Country.abs,'City','Other'

df[['Country','City']]= df['Location'].str.split('Â»', 1, expand=True)
df[['City','Other']]= df['City'].str.split('Â»', 1, expand=True)
df['City']=df['City'].str.replace('¶','',regex=True)
df['City']=df['City'].str.replace('Ã','',regex=True)
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,currency,EUR_price,Country,City,Other
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3370.37,Switzerland,Lake Geneva,VÃ©senaz
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490,Germany,Bnningstedt,None
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3807.7,Switzerland,Lake of Zurich,StÃ¤fa ZH
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.0,Denmark,Svendborg,None
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399,Germany,Bayern,MÃ¼nchen

In [32]:
# Drop irrelevant columns
df_2 = df.drop(["Location", 'currency', 'Price', 'Other'], axis = 1)
df_2

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR_price,Country,City
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,3370.37,Switzerland,Lake Geneva
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490,Germany,Bnningstedt
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,3807.7,Switzerland,Lake of Zurich
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,3367.0,Denmark,Svendborg
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399,Germany,Bayern
...,...,...,...,...,...,...,...,...,...,...,...
9883,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,1116,4949.0,Switzerland,Lago Maggiore
9884,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,94,4516,Germany,Hamburg
9885,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,354,4499,Germany,Nordrhein-Westfalen
9886,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,266,4300,Italy,Dormelletto
9887,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,194,3817.8,Switzerland,Brienzersee

# 03. Data Consistency Checks

In [33]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Boat Type                    9888 non-null   object
 1   Manufacturer                 8550 non-null   object
 2   Type                         9882 non-null   object
 3   Year Built                   9888 non-null   int64
 4   Length                       9879 non-null   float64
 5   Width                        9832 non-null   float64
 6   Material                     8139 non-null   object
 7   Number of views last 7 days  9888 non-null   int64
 8   EUR_price                    9888 non-null   object
 9   Country                      9852 non-null   object
 10  City                         8945 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 849.9+ KB

In [58]:
# Change data type for the new EUR_price variable to make it numerical

df_2['EUR_price'] = df_2['EUR_price'].astype('int')
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Boat Type                    9888 non-null   object
 1   Manufacturer                 9888 non-null   object
 2   Type                         9888 non-null   object
 3   Year Built                   9888 non-null   int64
 4   Length                       9888 non-null   float64
 5   Width                        9888 non-null   float64
 6   Material                     9888 non-null   object
 7   Number of views last 7 days  9888 non-null   int64
 8   EUR_price                    9888 non-null   int64
 9   Country                      9888 non-null   object
 10  City                         9888 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 849.9+ KB

In [37]:
#Identify missing values

df_2.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
EUR_price                         0
Country                          36
City                            943
dtype: int64

In [54]:
df_2.describe()

,Year Built,Length,Width,Number of views last 7 days,EUR_price
count,9888.000000,9888.000000,9888.000000,9888.000000,9.888000e+03
mean,1893.192860,11.568843,3.519047,149.160801,3.022856e+05
std,460.201582,6.000213,1.217156,151.819752,9.689648e+05
min,0.000000,1.040000,0.010000,13.000000,3.224000e+03
25%,1996.000000,7.470000,2.550000,70.000000,4.299750e+04
50%,2007.000000,10.280000,3.330000,108.000000,9.253600e+04
75%,2017.000000,13.920000,4.250000,172.000000,2.480000e+05
max,2021.000000,100.000000,25.160000,3263.000000,3.100000e+07

In [46]:
# Addressing missing values for 'Type', replacing with mode
df_2["Type"].fillna(df_2["Type"].value_counts().idxmax(),inplace=True)
df_2["Type"].isnull().sum()

0

In [50]:
# Addressing missing values for length and width, replacing with median
df_2['Width'].fillna(df_2['Width'].median(),inplace=True)
df_2['Length'].fillna(df_2['Length'].median(),inplace=True)
df_2['Width'].isnull().sum()
df_2['Length'].isnull().sum()

0

In [51]:
# Replacing missing values with 'unknown' for material, manufacturer, country, and city

df_2['Manufacturer'].fillna('Unknown', inplace = True)
df_2['Material'].fillna('Unknown', inplace = True)
df_2['Country'].fillna('Unknown', inplace = True)
df_2['City'].fillna('Unknown', inplace = True)
df_2.isnull().sum()

Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
EUR_price                      0
Country                        0
City                           0
dtype: int64

In [59]:
df_2.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR_price,Country,City
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,3370,Switzerland,Lake Geneva
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490,Germany,Bnningstedt
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,3807,Switzerland,Lake of Zurich
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,3367,Denmark,Svendborg
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399,Germany,Bayern

In [62]:
df_2['Year Built'].value_counts().sort_index()

0        551
1885       1
1889       1
1895       1
1897       1
        ...
2017     314
2018     351
2019     663
2020    1279
2021      53
Name: Year Built, Length: 122, dtype: int64

In [64]:
# Imputing the 'Year Built' value for '0' with the median year

median_year_built = df_2["Year Built"].median()
df_2["Year Built"] = df_2["Year Built"].replace(0, median_year_built)
df_2['Year Built'].value_counts().sort_index()

1885       1
1889       1
1895       1
1897       1
1898       1
        ...
2017     314
2018     351
2019     663
2020    1279
2021      53
Name: Year Built, Length: 121, dtype: int64

In [66]:
df_2.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR_price,Country,City
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,3370,Switzerland,Lake Geneva
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490,Germany,Bnningstedt
2,Sport Boat,Marine power boats,new boat from stock,2007,3.69,1.42,Aluminium,124,3807,Switzerland,Lake of Zurich
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,3367,Denmark,Svendborg
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399,Germany,Bayern

In [67]:
df_2.describe()

,Year Built,Length,Width,Number of views last 7 days,EUR_price
count,9888.000000,9888.000000,9888.000000,9888.000000,9.888000e+03
mean,2005.031149,11.568843,3.519047,149.160801,3.022856e+05
std,15.901138,6.000213,1.217156,151.819752,9.689648e+05
min,1885.000000,1.040000,0.010000,13.000000,3.224000e+03
25%,2000.000000,7.470000,2.550000,70.000000,4.299750e+04
50%,2007.000000,10.280000,3.330000,108.000000,9.253600e+04
75%,2017.000000,13.920000,4.250000,172.000000,2.480000e+05
max,2021.000000,100.000000,25.160000,3263.000000,3.100000e+07

In [68]:
df_2["Type"].value_counts()

Used boat,Diesel                4146
Used boat,Unleaded              1686
Used boat                       1462
new boat from stock,Unleaded    1107
new boat from stock              665
new boat from stock,Diesel       291
new boat on order,Unleaded       150
Display Model,Unleaded            75
new boat on order                 61
new boat on order,Diesel          61
Diesel                            57
Used boat,Electric                27
Unleaded                          22
Display Model,Diesel              19
new boat from stock,Electric      18
Display Model                     18
Used boat,Gas                     10
Display Model,Electric             6
new boat from stock,Gas            2
new boat from stock,Hybrid         1
Used boat,Hybrid                   1
Display Model,Gas                  1
Electric                           1
Used boat,Propane                  1
Name: Type, dtype: int64

In [76]:
# Split the type column
df_2[['New or Used', 'Engine Type']] = df_2['Type'].str.split(',', 1, expand=True)
df_2

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR_price,Country,City,New or Used,Engine Type
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,3370,Switzerland,Lake Geneva,new boat from stock,None
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490,Germany,Bnningstedt,new boat from stock,None
2,Sport Boat,Marine power boats,new boat from stock,2007,3.69,1.42,Aluminium,124,3807,Switzerland,Lake of Zurich,new boat from stock,None
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,3367,Denmark,Svendborg,new boat from stock,None
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399,Germany,Bayern,new boat from stock,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,Unknown,1116,4949,Switzerland,Lago Maggiore,Used boat,Unleaded
9884,Sport Boat,Unknown,new boat from stock,2007,4.17,1.68,GRP,94,4516,Germany,Hamburg,new boat from stock,None
9885,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,354,4499,Germany,Nordrhein-Westfalen,new boat from stock,Unleaded
9886,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,Unknown,266,4300,Italy,Dormelletto,new boat from stock,None
9887,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,194,3817,Switzerland,Brienzersee,new boat from stock,None

In [78]:
# Check missing values for the new variable
df_2['Engine Type'].isnull().sum()

2286

In [79]:
# Replace missing values for the Engine Type with 'unknown'
df_2['Engine Type'].fillna('Unknown', inplace = True)
df_2.isnull().sum()

Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
EUR_price                      0
Country                        0
City                           0
New or Used                    0
Engine Type                    0
dtype: int64

In [80]:
# drop the 'type column'

df3 = df_2.drop(columns = ['Type'])

In [81]:
df3

,Boat Type,Manufacturer,Year Built,Length,Width,Material,Number of views last 7 days,EUR_price,Country,City,New or Used,Engine Type
0,Motor Yacht,Rigiflex power boats,2017,4.00,1.90,Unknown,226,3370,Switzerland,Lake Geneva,new boat from stock,Unknown
1,Center console boat,Terhi power boats,2020,4.00,1.50,Thermoplastic,75,3490,Germany,Bnningstedt,new boat from stock,Unknown
2,Sport Boat,Marine power boats,2007,3.69,1.42,Aluminium,124,3807,Switzerland,Lake of Zurich,new boat from stock,Unknown
3,Sport Boat,Pioner power boats,2020,3.00,1.00,Unknown,64,3367,Denmark,Svendborg,new boat from stock,Unknown
4,Fishing Boat,Linder power boats,2019,3.55,1.46,Aluminium,58,3399,Germany,Bayern,new boat from stock,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Sport Boat,Sea Ray power boats,1987,6.30,2.44,Unknown,1116,4949,Switzerland,Lago Maggiore,Used boat,Unleaded
9884,Sport Boat,Unknown,2007,4.17,1.68,GRP,94,4516,Germany,Hamburg,new boat from stock,Unknown
9885,Sport Boat,BlueCraft power boats,2020,4.40,1.80,GRP,354,4499,Germany,Nordrhein-Westfalen,new boat from stock,Unleaded
9886,Pontoon Boat,Whaly power boats,2018,4.37,1.89,Unknown,266,4300,Italy,Dormelletto,new boat from stock,Unknown
9887,Fishing Boat,DarekCo power boats,2019,3.60,1.60,GRP,194,3817,Switzerland,Brienzersee,new boat from stock,Unknown

In [84]:
# Save clean data set

df3.to_csv(os.path.join(path, "Prepared Data", "boat_data_clean.csv"))